{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}<title>{% blocktrans %}Foydalanuvchi parolini o'zgartirish{% endblocktrans %}</title>{% endblock title %}

{% block content %}

    <h1>{% blocktrans %}Parolni o'zgartirish{% endblocktrans %}</h1>
    <p>{% blocktrans %}Parolni o'zgartirish uchun bo'shliqlarni to'ldirishingiz kerak!{% endblocktrans %}</p>

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% blocktrans %}Parolni almashtirish{% endblocktrans %}</button>
    </form>

{% endblock content %}