{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}<title>{% blocktrans %}Foydalanuvchi parolini tiklash{% endblocktrans %}</title>{% endblock title %}

{% block content %}

    <h1>{% blocktrans %}Parolni tiklash{% endblocktrans %}</h1>
{% if validlink %}
    <p>{% blocktrans %}Iltimos yangi parolni ikki marta kiriting.{% endblocktrans %}</p>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% blocktrans %}Parolni almashtirish{% endblocktrans %}</button>
    </form>
{% else %}
    <p>{% blocktrans %}Siz noto'g'ri linkdan foydalandingiz, u avvalroq foydalanilgan yoli ishlatilish vaqti o'tgan bo'lishi mumkin.{% endblocktrans %}</p>
{% endif %}


{% endblock content %}