{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}<title>{% blocktrans %}Parolni tiklash{% endblocktrans %}</title>{% endblock title %}

{% block content %}

<h1>{% blocktrans %}Parolni tiklash{% endblocktrans %}</h1>
<p>{% blocktrans %}Parolni tiklash uchun emailingizni kiriting!{% endblocktrans %}</p>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% blocktrans %}Emailni jo'natish{% endblocktrans %}</button>
</form>

{% endblock content %}