{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}<title>{% blocktrans %}Parolini o'zgartirish{% endblocktrans %}</title>{% endblock title %}

{% block content %}

    <h1>{% blocktrans %}Parolni o'zgartirish emaili yuborildi{% endblocktrans %}</h1>
    <p>{% blocktrans %}Parolni o'zgartirish uchun emailingizga parolni tiklash uchun link yuborildi.{% endblocktrans %}</p>
<p>{% blocktrans %}Agar linkni olmagan bo'lsangiz, qayta urinib ko'ring.{% endblocktrans %}</p>

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% blocktrans %}Parolni almashtirish{% endblocktrans %}</button>
    </form>

{% endblock content %}