{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}<title>{% blocktrans %}Foydalanuvchi paroli muvaffaqiyatli o'zgartirildi{% endblocktrans %}</title>{% endblock title %}

{% block content %}

    <h1>{% blocktrans %}Parolni muvaffaqiyatli o'zgartirildi{% endblocktrans %}</h1>
    <p>{% blocktrans %}Sizning parolingiz qayta tiklandi. Endi qaytadan{% endblocktrans %} <b><a href="{% url 'login' %}">Login</a></b> {% blocktrans %}qilishingiz mumkin!{% endblocktrans %}</p>



{% endblock content %}